# Dependency directories
node_modules/

# Build outputs
dist/
build/
.turbo/
.out/

# PocketBase local database and dynamic files
apps/pocketbase/pb_data/*.db
apps/pocketbase/pb_data/backups/
apps/pocketbase/pb_data/.notify/

# PocketBase executables (Windows/Linux/Mac)
apps/pocketbase/pocketbase
apps/pocketbase/pocketbase.exe
apps/pocketbase/pocketbase.zip

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
